.hero {
    /background: green;
    height: 600px;
}

.hero-bg {
    height: 500px;
    background: 10% 10% / 10% repeating-linear-gradient(90deg, #ff9494, #9f9fff, #ff9494);
    width: 100%;
    position: absolute;
    z-index: -1;
}

.hero-fg {
    height: 100%;
    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.hero-fg-text {
    height: 85%;
    width: 100%;
    padding: var(--space-s);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-fg-h2 {
    font-size: 3rem;
}

.hero-fg-p {
    font-size: 1.5rem;
}

.hero-fg-btns {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    flex-grow: 1;
}

.hero-fg-pbtn {
    color: black;
    background: white;
    padding: var(--space-m);
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 50%;
}

.hero-fg-sbtn {
    color: black;
    background: none;
    border: solid black 0.25rem;
    padding: var(--space-m);
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-fg-img {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-img-1 {
    background: #00fff5;
    width: 60%;
    height: 80%;
    border-radius: 4rem;
}

.hero-fg-info {
    width: 20%;
    position: relative;
}

.hero-icon-1 {
    background: black;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 25%;
    right: 20%;
    overflow: hidden;
}

.hero-icon-2 {
    background: #888888;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 60%;
    left: 20%;
}

.test {
    background: #e84461;
    height: 300px;
    margin-bottom: 5px;
}
